@import 'tailwindcss';
@import "tailwindcss";
@plugin "daisyui" {
  themes: kesbangpol --default;
}

@plugin "daisyui/theme" {
  name: "kesbangpol";
  default: true;
  prefersdark: false;
  color-scheme: light;

  --color-primary: #5E5D2D;
  --color-secondary: #F2BE00;
  --color-accent: #982727;
  --color-neutral: #744D26;
  --color-base-100: #FFFFFF;

  /* opsional: stylisasi tambahan */
  --rounded-box: 1rem;
  --rounded-btn: 0.5rem;
  --btn-focus-scale: 0.95;
  /* dll... */
}

/* Contoh styling khusus */
[data-theme="kesbangpol"] .btn-primary {
  /* custom overrides jika perlu */
}


@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
